
@media (max-width:1473px){
    .post{
        margin-top: 0px;
    }

}
@media (max-width:1195px){
    .post{
        margin-top: 10px;
    }
   
}
@media (max-width:671px){
    .homeWall{
        width: 110%;
        object-fit: cover;
    }
   
}