#readMore{
    position: relative;
    background-color: #FFD050;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
}
#icon{
    font-size: xx-large;

}